body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	/* remove default padding */
	padding: 0;
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
